[Desktop Entry]
Type=Application
Name=TazWeb Browser
Name[fr]=Navigateur TazWeb
Name[pt]=Navegador TazWeb
Name[pt_BR]=Navegador TazWeb
Name[ru]=Браузер TazWeb
Comment=SliTaz simple, fast and small Web Browser
Comment[fr]=Navigateur web simple et rapide de SliTaz
Comment[pt]=Navegador web simples e rápido do SliTaz
Comment[pt_BR]=Navegador web simples e rápido do SliTaz
Comment[ru]=Простой, быстрый и маленький браузер SliTaz
Icon=tazweb
Exec=tazweb %u
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;text/plain;application/xhtml+xml;application/xml;image/svg+xml;application/x-shockwave-flash;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
