[Desktop Entry]
Type=Application
Name=TazWeb Browser
Name[ru]=Браузер TazWeb
Comment=SliTaz simple, fast and small Web Browser
Comment[ru]=Простой, быстрый и маленький браузер SliTaz
Icon=tazweb
Exec=tazweb %u
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;text/plain;application/xhtml+xml;application/xml;image/svg+xml;application/x-shockwave-flash;image/jpeg;image/png;
